{% extends "Tienda/plantilla.html" %}
        
        {% block main %}
        <div class="fondo1">
                <h1>About Me</h1>
                <p>
                        Me llamo André, tengo 40 años. <br>
                        Vivo en Salinas(Uruguay), con mi señora y mi hijo Juan Cruz. <br>
                        Esta es la tercera comisión que hago en CoderHouse; anteriormente hice Desarrollo Web y JavaScript <br>
                        Me encuentro estudiando en UTEC la carrera de Lic.en Tecnologías de la Información <br>
                        Y pueden visitar mi emprendimiento <a href="http://www.worldvruruguay.com" target="_blank" rel="noopener noreferrer">www.worldvruruguay.com</a> 
                </p>
        </div>
        {% endblock %}