{% extends "Tienda/Plantilla.html" %}

{% block main %}
<div class="fondo1">
    <ul class="ul">
        <h1> Lista de Comics</h1>
        {% for comic in object_list  %}
        <li>
            {{comic}} 
            <a href="{% url 'comic-detail' comic.id %}" > Detalle</a>
            {% if user.is_authenticated and comic.publisher == user %}
                <a href="{% url 'comic-update' comic.id %}" > Actualizar</a>
                <a href="{% url 'comic-delete' comic.id %}" > Borrar</a>
            {% endif %}
        </li>
        {% endfor %} 
        </ul>
    </div>
    {% endblock %}